@import "tailwindcss";

:root {
  /* Light Mode Colors */
  --color-background: white;
  --color-foreground: oklch(27.8% .033 256.848); /* gray-800 */
  --color-muted: #6b7280; /* gray-500 */
  --color-primary: #6d28d9; /* violet-700 */
  --color-primary-hover: #7c3aed; /* violet-600 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --color-background: oklch(27.8% .033 256.848); /* gray-800 */
    --color-foreground: white;
    --color-muted: #d1d5db; /* gray-300 */
    --color-primary: #a78bfa; /* violet-400 */
    --color-primary-hover: #c4b5fd; /* violet-300 */
  }
}

/* General Background and Text */
body, html {
  background-color: var(--color-background);
  color: var(--color-muted);
}

.all-unset {
  all: unset;
}
.all-unset:focus {
  all: unset;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
*::-webkit-scrollbar {
  width: 1.2rem;
  height: 1.2rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgb(109 40 217 / 0.6);
  border-radius: 9999px;
  border: 5px solid transparent;
  background-clip: content-box;
  transition: background-color 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(109 40 217);
  border: 5px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;

}